echo "__pycache__/" >> .gitignore
echo "*.pyc" >> .gitignore
echo "*.pyo" >> .gitignore
echo "*.pyd" >> .gitignore
echo ".venv/" >> .gitignore
echo "venv/" >> .gitignore
echo ".DS_Store" >> .gitignore
